.wrapper {
	position: relative;
}

.container {
	max-width: 1640px;
	margin: auto;
	box-sizing: content-box;
	display: flex;
}

.payment {
	max-width: 1230px;
	width: 100%;
	height: 100vh;
	padding: 0 77px 0px 82px;

	&__steps {
		display: flex;
		justify-content: space-between;
	}

	&__titles {
		display: flex;
		margin-top: 9px;
		justify-content: space-between;
	}

	&__scale {
		max-width: 1095px;
		margin-top: 58px;
		position: relative;
		padding: 0;
		width: 100%;
	}

	&__scale-list {
		position: relative;
		list-style-type: none;
		display: flex;
		position: relative;
		z-index: 10;
		width: 100%;
	}

	&__scale-item {
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		min-width: 43px;
		max-width: 301px;
		position: relative;
	}

	&__scale-count {
		height: 18px;
		width: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		font-weight: 500;
		font-size: 10px;
		margin: 0;
		position: relative;
		z-index: 10;
		color: #ffff;
		background: #3366ff;
	}

	&__scale-label {
		font-size: 14px;
		line-height: 16px;
		margin-left: -15px;
	}

	&__scale-label:last-child {
		margin-left: 0;
		margin-right: -14px;
	}
	&__progress-bar {
		top: 8px;

		position: absolute;
		height: 1px;
		max-width: 100%;
		width: 100%;
		background: #dddada;
		z-index: -1;
	}

	&__container {
		margin-left: 218px;
		margin-top: 59px;
		max-width: 631px;
		flex-shrink: 1;
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		margin-top: 5px;
	}

	&__radio-fieldset {
		margin-top: 43px;
		position: relative;
		display: flex;
	}

	&__radio-label {
		gap: 9px;
		display: inline-block;
		margin-left: 0;
		display: flex;
		font-size: 14px;
	}

	&__radio-input {
		display: none;
	}

	&__fake-radio {
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 1px solid #cfcfcf;
		cursor: pointer;
		border-radius: 50%;
		position: relative;
		flex-shrink: 0;
	}

	&__fake-radio::before {
		content: '';
		position: absolute;
		display: block;
		width: 8px;
		height: 8px;
		background-color: #3366ff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		border-radius: 50%;
		transition: 0.2s;
	}

	&__radio-label:last-of-type {
		margin-left: 88px;
		background-image: inline('paypal.svg');
		background-size: contain;
		background-repeat: no-repeat;

		height: 23px;
		width: 119px;
		background-position: right;
	}

	&__card {
		max-width: 550px;
		background: #ffffff;
		border: 1px solid #cfcfcf;
		box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		margin-top: 35px;
		margin-left: -30px;
		padding: 20px 30px;
		box-sizing: border-box;
	}

	&__card-label {
		font-weight: 500;
		font-size: 12px;
		line-height: 24px;
	}

	&__card-input {
		background: #ededf1;
		border-radius: 3px;
		border: none;
		height: 40px;
		padding-left: 12px;

		&_short {
			width: 100px;
		}
	}
	&__card-question {
		border-radius: 50%;
		background: #dbdbdb;
		width: 13px;
		height: 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 10px;
		line-height: 150%;
		position: absolute;
		top: 6px;
		right: 30px;
		cursor: pointer;
	}

	&__fieldset {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		position: relative;
		&-container {
			display: flex;
			gap: 30px;
		}
	}
	&__fieldset-checkbox {
		margin-top: 43px;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__checkbox-label {
		font-size: 14px;
		line-height: 16px;
		color: #8c8c8c;
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__fake-checkbox {
		display: inline-block;
		width: 18px;
		height: 18px;
		border: 1px solid #cfcfcf;
		position: relative;
		cursor: pointer;
		flex-shrink: 0;
	}

	&__fake-checkbox::before {
		content: '';
		position: absolute;
		display: block;
		width: 8px;
		height: 8px;
		background-color: #3366ff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: 0.2s;
	}

	&__checkbox-input {
		display: none;
	}

	&__checkbox-link {
		text-decoration: none;
		color: black;
	}

	&__btn-container {
		display: flex;
		justify-content: space-between;
		margin-top: 39px;
	}
}

.payment__scale-count_current.payment__scale-count {
	background: #ffffff;
	border: 1px solid #3366ff;
	color: black;
}

.payment__scale-count_next.payment__scale-count {
	background: #ffffff;
	border: 1px solid #d5d5d5;
	color: black;
}

.payment__progress-bar .payment__indicator {
	position: absolute;
	height: 1px;
	width: 67%;
	background: #4070f4;
	transition: all 300ms ease;
}

.payment__checkbox-input:checked + .payment__fake-checkbox::before {
	opacity: 1;
}

.payment__radio-input:checked + .payment__fake-radio::before {
	opacity: 1;
}

@media all and (max-width: 1350px) {
	.payment {
		&__container {
			margin-left: 0px;
			margin-top: 59px;
			max-width: 631px;
		}
	}
}

@media all and (max-width: 1100px) {
	.payment {
		padding: 0 63px 0 66px;
		&__radio-fieldset {
			margin-top: 20px;
		}

		&__radio-input:last-of-type {
			margin-left: 13px;
		}
	}
	.basket {
		display: none;
	}
}

@media all and (max-width: 630px) {
	.payment {
		padding: 0 10px 0 10px;
		box-sizing: border-box;
		&__scale {
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		&__radio-fieldset {
			margin-top: 20px;
		}

		&__radio-label:last-of-type {
			margin-left: 16px;
			width: 113px;
		}

		&__card {
			box-shadow: none;
			border: none;
			max-width: 299px;
			padding: 0;
			margin: 0;
			margin-top: 24px;
			&-input {
				padding: 0;
				&_short {
					width: 68px;
				}
			}
		}
		&__card-question {
			top: 6px;
			right: 0px;
		}
		&__fieldset {
			&-container {
				display: flex;
				gap: 5px;
			}
		}
	}
}
