.wrapper {
	position: relative;
}

.container {
	max-width: 1640px;
	margin: auto;
	box-sizing: border-box;
	display: flex;
}

.payment {
	max-width: 1230px;
	width: 100%;
	height: 100vh;

	&__scale {
		margin-top: 60px;
		margin-right: auto;
		&-list {
			list-style-type: none;
			display: flex;
			position: relative;
			z-index: 10;

			width: 100%;
		}

		&-item {
			flex-basis: 0;
			-webkit-box-flex: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			width: 100%;
			display: flex;
			flex-direction: column;
			text-align: center;
			min-width: 43px;
			max-width: 301px;
			position: relative;
		}

		&-item + &-item:after {
			content: '';
			position: absolute;
			left: 0;
			top: 19px;
			background: #3366ff;
			width: 100%;
			height: 1px;
			transform: translate(-50%);
			z-index: -10;
		}

		&-count {
			font-family: 'Roboto';
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			font-weight: 500;
			font-size: 10px;
			margin: 0 auto;
			position: relative;
			z-index: 10;
			color: #ffff;
		}

		&-count:after {
			content: '';
			height: 18px;
			width: 18px;
			background: #3366ff;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			z-index: -10;
		}

		&-label {
			font-family: 'Roboto';
			font-weight: 400;
			font-size: 14px;
		}

		.payment__scale-count_next .payment__scale-count:after {
			background: white;
			border: 1px solid #3366ff;
		}
		.payment__scale-count_next .payment__scale-count {
			color: black;
		}

		.payment__scale-count_pale .payment__scale-count:after {
			background: white;
			border: 1px solid #d5d5d5;
		}

		.payment__scale-count_pale .payment__scale-count {
			color: #d5d5d5;
		}

		.test + .payment__scale-item + .payment__scale-item:after {
			background: #d5d5d5;
		}
	}
}

.basket {
	max-width: 410px;
	width: 100%;
	background-color: brown;
	height: 100vh;
}

.billing {
	max-width: 650px;
	width: 100%;
	margin: 0 auto;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
	}

	&__radio-fieldset {
		margin-top: 43px;
	}

	&__radio-input:last-of-type {
		margin-left: 82px;
	}

	&__radio-label {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
	}

	&__card {
		width: 550px;
		height: 298px;
		background: #ffffff;
		border: 1px solid #cfcfcf;
		box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		padding: 30px 30px 46px 30px;
		color: #555770;
		flex-direction: row;
		flex-wrap: wrap;

		&-label {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 24px;
		}

		&-input {
			background: #ededf1;
			border-radius: 3px;
			border: none;
			height: 40px;

			&_short {
				width: 100px;
			}
		}
	}

	&__fieldset {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;

		&-container {
			display: flex;
			justify-content: space-between;
			gap: 30px;
		}

		&__container {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__btn {
		height: 41px;
		border-radius: 3px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		display: block;
		margin: 0;

		&_white {
			width: 91px;
			background: #ffffff;
			border: 1px solid #cfcfcf;
		}

		&_blue {
			background: #3366ff;
			width: 125px;
			color: white;
			border: none;
		}
	}
}

.test {
	display: flex;
	flex-direction: row;
	gap: 30px;
}
